#list {
    width:1000px;
    padding:0;
}
#list li {
    list-style:none;
    background:olive;
    font-size:30px;
    text-align:center;
    padding:30px;
    box-sizing:border-box;
    margin: 10px;
    float: left;
    width: 400px;
}
#comment {
    font-size:24px;
    clear: both;
}